.file-explorer {
  margin: 20px;
}

.file-explorer h1 {
  margin-bottom: 10px;
}

.explorer {
  display: flex;
  flex-direction: column;
}

.path {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.path input {
  flex-grow: 1;
  margin-right: 10px;
}

.contents {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  height: 300px;
  overflow-y: scroll;
  
}

.contents ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contents ul li {
  margin-bottom: 5px;
  padding: 0.5em;
  display: flex;
  justify-content: flex-start;
}

.contents ul li:hover {
  cursor: pointer;
}

.contents ul li:nth-child(even) {
  background-color: #dddddd;
}

.contents ul li img {
  width: 27px;
}

.contents ul li p {
  margin: 5px;
}

.file-command {
  position: absolute;
  background-color: #202020;
  display: grid;
  padding: 1em;
  border-radius: 1em;
}

mat-hint {
  color: #dddddd;
}

