<!-- <p>file-system works!</p>
<div class="container">
  <button >get dir</button>
  <ol>
    <li *ngFor="let dir of currentDir" (click)="readFiles(dir.path)">
      {{ dir.folderName }}
    </li>
  </ol>
</div> -->
<div class="file-explorer">
  <div class="file-command">
    <mat-form-field class="example-full-width">
      <input matInput #message maxlength="31" placeholder="Folder Name" />
      <mat-hint align="end">{{ message.value.length }} / 31</mat-hint>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="createFolder(message.value)"
    >
      Create Folder
    </button>
  </div>
  <h1>File Explorer</h1>
  <div class="explorer">
    <div class="path">
      <button mat-raised-button color="primary" (click)="initialRead()">
        Explore
      </button>
    </div>
    <div class="contents">
      <ul>
        <li *ngFor="let dir of currentDir" (click)="readFiles(dir.path)">
          <img [src]="dir.icon" alt="" />
          <p>{{ dir.folderName }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
