mat-slider {
    /* width: 90vw; */
    width: auto;
    /* width: 90vw; */
    margin: 0 auto;
    display: block;

}

canvas {
    outline: #515150 1px solid;
    width: 248px;
    height: 160px;
}

.container {
    display: grid;
    width: 91%;
    margin: 0 auto;
}

.trim_slider img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.trim_slider {
    position: relative;
}
.flex{
    display: flex;
    justify-content: space-between;
}
.data{
    background-color: #636363;
    border-radius: 1em;
    align-content: center;
    padding: 0.5em 1em;
    margin: 1em 0;
}
p{
    margin: 0;
}