mat-slider {
    /* width: 90vw; */
    width: auto;
    /* width: 90vw; */
    margin: 0 auto;
    display: block;

}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #dddddd;
    width: 248px;
    padding: 5px;

}

.meta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em;
}

canvas {
    outline: wheat 3px solid;
    width: 248px;
    height: 160px;
}
.container{
    width: 91%;
    margin: 0 auto;
}

.trim_slider img{
    position: absolute;
    /* width: `; */
    z-index: -1;
    top: 0;
    left: 0;
}

.trim_slider{
    position: relative;
}