.drop-zone {
    border: 2px dashed #ccc;
    border-radius: 4px;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: border-color 0.2s ease-in-out;
    
}

.drop-zone.drag-over {
    border-color: #2196f3;
    color: #2196f3;
}

.file-input-wrapper {
    width: fit-content;
    margin: 0 auto;
}

/* Apply Material design appearance to file input */
input[type="file"] {
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="file"]:focus {
    outline: none;
}

input[type="file"]:hover {
    background-color: #f5f5f5;
}

input[type="file"]:active {
    background-color: #e0e0e0;
}

/* Apply Material design text appearance to selected filename */
span.file-name {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #757575;
}

/* Show selected filename next to input */
input[type="file"].has-file+span.file-name {
    display: inline-block;
}

input[type="file"].has-file {
    background-color: #f5f5f5;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(232, 232, 232);
    z-index: 9999;
    position: fixed;
    top: 0;
    display: grid;
}

.welcome{
    text-align: center;
    padding: auto;
    margin-top: 3em;
}

.capablities{
    display: grid;
    grid-template-columns: repeat(3,minmax(11em,15fr));
    gap: 1em;
    margin: 0 5em;
}
.feature{
    width:fit-content
}
.files{
    width: 91vw;
    margin: 1em auto;
    padding: 1em;
}
.url{
    width: 100%;
}
.download{
    display: flex;
    gap: 1em;
}
.download button{
    padding: 2em;
}