<p>file-input works! {{uiControls.FileInputComponentViewToggle}}</p>
<div class="background">
  <div class="container">
    <div class="progress">
      <!-- <mat-progress-bar
          mode="determinate"
          [value]="ffmpeg.progress"
        ></mat-progress-bar> -->

      <div
        *ngIf="!ShowPlayer"
        class="drop-zone"
        (drop)="onDrop($event)"
        (dragover)="onDragOver($event)"
        (dragleave)="onDragLeave($event)"
        [class.drag-over]="isDragOver"
      >
        Drop your files here
      </div>
      <div *ngIf="!ShowPlayer" class="file-input-wrapper">
        <input
          type="file"
          id="my-file-input"
          (change)="onFileSelected($event)"
          class="file-input"
        />
        <span class="file-name"></span>
      </div>
    </div>
  </div>
  
</div>
