<progress
  *ngIf="ffmpeg.progress < 100"
  id="file"
  [value]="ffmpeg.progress"
  max="100"
></progress>
<app-video-player>
  <app-video-trim ></app-video-trim>


</app-video-player>
<div class="video_container"> 
  <!--  (wheel)="seekVideo($event)" -->
  <button mat-raised-button color="primary" (click)="trim()" >trim</button>
  <div class="seek-container">
    <div id="el1">el1</div>

    <div #seek class="con">
      <img
        *ngFor="let user of url"
        [src]="user"
        alt=""
        width="70"
        height="50"
      />
    </div>
  </div>
</div>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<button (click)="captureThumb()">Capture</button>

<div #output class="con"></div>
