<progress
  *ngIf="progress < 100"
  id="file"
  [value]="progress"
  max="100"
></progress>
<div (wheel)="seekVideo($event)" class="video_container">
  <div>
    <video
      id="my-video"
      class="video-js"
      controls
      preload="auto"
      #video_player
      controls
      [src]="video"
    ></video>
  </div>
  <div class="trim_slider">
    <input #start_range (change)="range(start_range.value)" value="500" min="0" max="60" step="0.1" type="range" />
    <input #end_range (change)="range(end_range.value)" value="50000" min="0" max="60" step="0.1" type="range" />
  </div>
  <div class="seek-container">
    <div id="el1">el1</div>

    <div #seek class="con">
      <img
        *ngFor="let user of url"
        [src]="user"
        alt=""
        width="70"
        height="50"
      />
    </div>
  </div>
</div>

<button (click)="captureThumb()">Capture</button>

<div #output class="con"></div>
