<app-sidebar ></app-sidebar>
<app-video-player> </app-video-player>
<mat-progress-bar
  mode="determinate"
  [value]="ffmpeg.progress"
></mat-progress-bar>
<app-video-trim *ngIf="UiControls.TrimComponentViewToggle"></app-video-trim>

<!-- <div class="video_container"> -->
<!--  (wheel)="seekVideo($event)" -->
<!-- <div class="seek-container">
    <div id="el1">el1</div>

    <div #seek class="con">
      <img
        *ngFor="let user of url"
        [src]="user"
        alt=""
        width="70"
        height="50"
      />
    </div>
  </div>
</div>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<button (click)="captureThumb()">Capture</button>

<div #output class="con"></div> -->
