<nav class="nav__cont" #nav_ (click)="expand()"></nav>
<div class="nav_main" #navbar>
  <button
    mat-raised-button
    color="primary"
    (click)="
      UiControls.TrimComponentViewToggle = !UiControls.TrimComponentViewToggle
    "
  >
    trim
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="
      UiControls.FileSystemComponentViewToggle =
        !UiControls.FileSystemComponentViewToggle
    "
  >
    Files
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="
      UiControls.FormatConverterComponentViewToggle =
        !UiControls.FormatConverterComponentViewToggle
    "
  >
    convert
  </button>
</div>

<div class="cover hide" (click)="colapse()" #cover></div>
