/* You can add global styles to this file, and also import other style files */

*,body{
    margin: 0;
    padding: 0;
}
body{
    max-width: 100% !important;
} 

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.genaric_container{
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: aliceblue;
    padding: 1em;
}