<div class="background">
  <div class="container">
    <button
      matTooltip="Show Logs"
      matTooltipPosition="right"
      mat-icon-button
      color="primary"
      (click)="showLogs=!showLogs"
    >
      <mat-icon>visibility</mat-icon>
    </button>
    <div *ngIf="showLogs" #log_container class="log hidden">
      <p *ngFor="let item of data">{{ item }}</p>
    </div>
    <div class="image-container">
      <img src="../../../assets/loading_dance.gif" alt="anime girl dancing" />
    </div>
    <div class="progress">
      <mat-progress-bar
        mode="determinate"
        [value]="ffmpeg.progress"
      ></mat-progress-bar>
    </div>

    <!-- <button (click)="exit()" mat-raised-button >cancel</button> -->
  </div>
</div>
