.container {
    width: 75%;
    height: 200px;
    background-color: #eeeeee;
    margin: 33vh auto;
    padding: 4em;
    border-radius: 11px;
}

.progress {
    width: 95%;
    margin: 1.5em auto;
}

.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3f3f3f81;
}